<body class="welcomepage">
  <div class="w-section welcomelogo">
    <div class="w-container brandlogo">
      <%=image_tag("Wikipedia_sphere_copy.png", alt: "blocipedia logo", class: "logo")%>
      <div class="titlelogo">Create and share&nbsp;markdown wikis</div>
        <a class="button signup" href="#">Sign Up</a>
        <a class="button signin" href="#">Sign In&nbsp;</a>
    </div>
  </div>
</body>